# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\作业\web架构\第13周资料\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
